<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Barra lateral -->
        <nav class="col-md-2 bg-dark sidebar vh-100">
            <div class="sidebar-sticky">
                <!-- Logo y título -->
                <hr>
                <div class="text-center">
                    <img src="../../../assets/Iberdrola-logo.png" alt="Iberdrola Logo" class="img-fluid">
                    <p class="mt-2 text-light fw-bolder">Iberdrola</p>
                </div>
                <hr>
                <!-- Botones -->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link bg-light" href="#">Botón 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Botón 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Botón 3</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>
</body>
</html>

