<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Barra lateral -->
        <nav class="col-md-2 bg-dark sidebar vh-100">
            <div class="sidebar-sticky">
                <!-- Logo y título -->
                <hr>
                <div class="row text-center align-items-center">
                    <a class="text-decoration-none" routerLink="/pagina-principal">
                            <img width="50%" src="../../../assets/Iberdrola-logo.png" alt="Iberdrola Logo" class="img-fluid">
                            <p class="mt-2 text-light fw-bolder">Iberdrola</p>
                    </a>
                </div>
                <hr>
                <ul class="nav flex-column">
                    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                    <a [routerLink]="[menuItem.path]">
                        <i class="nc-icon {{menuItem.icon}}"></i>
                        <p class="text-b">{{menuItem.title}}</p>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>
</body>
</html>

